.doc_block {
    table {
        border-top: 1px solid var(--bs-border-color);
    }
}

.doc_block,
.docs_by_fund {
    tr {
        transition: background-color var(--transition);
        &:hover {
            background-color: var(--col-grey-200);
        }
    }

    .modal-dialog {
        max-width: unset;
        width: min(1100px,90vw);
    }
}

.docs_by_fund {

    .column1 {
        width: auto;
    }
    .column2 {
        width: 100px;
        text-align: end;
    }
    .column3 {
        width: 60px;
        text-align: center;
    }
}


.disclaimer-list {
    --_width: 40px;
    --_height: 20px;
    --_gap: 6px;
    --_off: white;
    --_on: rgb(17, 17, 82);

    display: grid;
    row-gap: 1rem;
    .disclaimer-container {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 0.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid lightblue;

        .switch-container {
            align-content: end;
        }
        
        .switch-label {
            cursor: pointer;
            user-select: none;
        }
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: var(--_width);
    height: var(--_height);
    background-color: var(--_off);
    border-radius: 100vw;
    cursor: pointer;
    border: 2px solid var(--_on);
    transition: all 0.3s;
    &::after {
        content: '';
        position: absolute;
        width: calc(var(--_height) - var(--_gap));
        height: calc(var(--_height) - var(--_gap));
        border-radius: 50%;
        background-color: var(--_on);
        top: 1px;
        left: 1px;
        transition: all 0.3s ease-in-out;
    }
    .disclaimer-checkbox:checked + & {
        background-color: var(--_on);
        border-color: var(--_on);
        &::after {
            left: var(--_height);
            background-color: var(--_off);
        }
    }
}
.disclaimer-checkbox {
    display: none;
}