.nav-tabs {
    background-color: var(--col-blue-400);

    .nav-item {
        width: 100%;
        @media (min-width:576px) {
            width: auto;
        }
    }
    .nav-link {
        width: 100%;
        text-align: start;
        @media (min-width:576px) {
            width: auto;
            text-align: center;
        }
    }

    .nav-link.active {
        background-color: white;
    }
}
.nav-tabs .nav-link {
    border-radius: 0;
    border-color: var(--col-blue-400);
    border-bottom: none;
}

.past_performance {


    .table {
        width: 100%;
    }
    
    .table th:first-child, 
    .table td:first-child {
        width: auto; /* Allows the first column to expand */
        min-width: max-content; /* Ensures it doesn't shrink too much */
        white-space: nowrap; /* Prevents wrapping */
    }
    
    .table th:not(:first-child), 
    .table td:not(:first-child) {
        width: 1%; /* Ensures equal width for remaining columns */
        min-width: 180px;
        white-space: nowrap;
    }

}