.button {
    border-radius: 100vw;
    min-width: 274px;
    display: inline-block;
    padding: 0.75rem 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--col-blue-700);
    background-color: var(--col-blue-700);
    color: white;
    align-self: center;
    text-align: center;
    transition: all var(--transition);
    &:hover {
        border-color: var(--col-dark);
        background-color: var(--col-dark);
        color: white;
    }
    &:disabled {
        border-color: var(--col-grey-200);
        background-color: var(--col-grey-200);
    }
}

.button-secondary {
    background-color: white;
    color: var(--col-blue-700);
    border-color: var(--col-blue-700);
    &:hover {
        background-color: var(--col-blue-200);
        color: var(--col-blue-700);
    }
    &:disabled {
        color: var(--col-grey-200);
        border-color: var(--col-grey-200);
    }
}