/* Colour Classes */
.has-dark-color,
.text--dark {
  color: var(--col-dark);
}
.has-dark-background-color,
.bg--dark {
  background-color: var(--col-dark);
}

.has-light-color,
.text--light {
  color: var(--col-light);
}
.has-light-background-color,
.bg--light {
  background-color: var(--col-light);
}

.has-grey-400-color,
.text--grey-400 {
  color: var(--col-grey-400);
}
.has-grey-400-background-color,
.bg--grey-400 {
  background-color: var(--col-grey-400);
}

.has-grey-200-color,
.text--grey-200 {
  color: var(--col-grey-200);
}
.has-grey-200-background-color,
.bg--grey-200 {
  background-color: var(--col-grey-200);
}

.has-yellow-400-color,
.text--yellow-400 {
  color: var(--col-yellow-400);
}
.has-yellow-400-background-color,
.bg--yellow-400 {
  background-color: var(--col-yellow-400);
}

.has-blue-900-color,
.text--blue-900 {
  color: var(--col-blue-900);
}
.has-blue-900-background-color,
.bg--blue-900 {
  background-color: var(--col-blue-900);
}

.has-orange-400-color,
.text--orange-400 {
  color: var(--col-orange-400);
}
.has-orange-400-background-color,
.bg--orange-400 {
  background-color: var(--col-orange-400);
}

.has-green-400-color,
.text--green-400 {
  color: var(--col-green-400);
}
.has-green-400-background-color,
.bg--green-400 {
  background-color: var(--col-green-400);
}

.has-blue-700-color,
.text--blue-700 {
  color: var(--col-blue-700);
}
.has-blue-700-background-color,
.bg--blue-700 {
  background-color: var(--col-blue-700);
}

.has-blue-600-color,
.text--blue-600 {
  color: var(--col-blue-600);
}
.has-blue-600-background-color,
.bg--blue-600 {
  background-color: var(--col-blue-600);
}

.has-blue-400-color,
.text--blue-400 {
  color: var(--col-blue-400);
}
.has-blue-400-background-color,
.bg--blue-400 {
  background-color: var(--col-blue-400);
}

.has-blue-200-color,
.text--blue-200 {
  color: var(--col-blue-200);
}
.has-blue-200-background-color,
.bg--blue-200 {
  background-color: var(--col-blue-200);
}