.gform_required_legend,
.gfield_required {
    display: none !important;
}

.ginput_container input {
    border-radius: 0 !important;
}
.gfield_label {
    font-weight: var(--fw-400) !important;
}

.gform_button.button {
    @extend .button;
    border-radius: 100vw;
    flex-basis: 274px;
    font-weight: var(--fw-400);
    padding: 0.75rem 1rem;
    line-height: 22.4px;
    font-size: 1rem;
}